.image-button-active {
    display: inline-flex;
    background-color: #9CC82E;
    width: 112px;
    height: 27px;
    justify-content: center;
    color: white;
    align-items: center;
    border: 1px solid #CCCCCC;
    border-radius: 3px 0px 0px 3px;
    opacity: 1;
}

.image-button-active svg {
    width: 16px;
    height: 16px;
}

.image-button {
    display: inline-flex;
    background-color: white;
    width: 112px;
    height: 27px;
    justify-content: center;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CCCCCC;
    border-radius: 0px 3px 3px 0px;
    opacity: 1;
}

.image-button svg {
    width: 16px;
    height: 16px;
    color: #999999;
}

.image-button-active p {
    color: white;
    padding: 5px
}
.image-button p {
    color: #999999;
    padding: 5px
}