.select-course {
    position: absolute;
    top: 27px;
    right: 30px;
    height: 30px;
    width: 130px;
    border-radius: 15px;
}

.select-filter {
    position: absolute;
    top: 27px;
    right: 170px;
    height: 30px;
    width: 120px;
    border-radius: 15px;
}