.map {
    width: 100%;
    height: calc(100% - 300px);
}

.chartContainer {
    position: relative;
    width: calc(100% - 2rem);
    overflow: visible;
    margin: 2rem;
}

svg {
    overflow: visible;
    display: block;
    width: 100%;
}