.mainpage {
    position: absolute;
    top: 71px;
    width: 100%;
    height: 100%;
}

.page {
    width: 100%;
    height: 100%;
}

.subpage {
    position: relative;
    background-color: white;
    width: 20px;
    transition: 700ms;
    border-radius: 5px;
}

.subpage-active {
    position: relative;
    width: 301px;
    height: 100%;
    left: 0;
    background-color: white;
    transition: 700ms;
}

.subpage-terrain-active {
    position: relative;
    width: 281px;
    height: calc(100% - 255px);
    left: 0;
    background-color: white;
    transition: 700ms;
}

.subpage-title {
    display: flex;
    height: 71px;
    background-color: #F7F7F7;
    color: black;
    font-weight: bold;
    text-align: center;
    flex-direction: row;
    align-items: center;
}

.subpage-title h2 {
    margin-left: 10px;
}

.subpage-button {
    height: 100%;
    background-color: #F7F7F7;
    border: 0px;
}

.subpage-body {
    justify-content: center;
}

.subpage-buttons {
    display: inline-flex;
    justify-content: center;
    margin-top: 27px;
    margin-left: 36px;
}

.poi-list {
    margin-top: 22px;
}

.poi-list ul {
    list-style-type: none;
}

.poi-location {
    display: flex;
    align-items: center;
}

.poi-location .poi-text-main {
    font-size: 14px;
    margin-left: 15px;
}

.poi-list .vl {
    border-left: 1px solid #cccccc;
    height: 50px;
    margin-left: 8px;
}

.poi-location .circle-active {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #E62270;
}

.poi-location .circle-inactive {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #cccdcc;
}